<%- include('layout/debut.ejs') %>

<%- include('layout/navigation.ejs') %>

<main>
    <h2>Page de résultat des calculs des mensualités pour emprunt</h2>

    <table>
        <thead>
        <tr>
            <th>Montant de l'emprunt (€)</th>
            <th>Taux (%)</th>
            <th>Durée de l'emprunt (en années)</th>
            <th>Mensualité</th>
        </tr>
        </thead>
    <% if (tabResultCalculEmprunts){ %>
        <% if (tabResultCalculEmprunts.length > 0){ %>
            <tbody>
                <% for (let emprunt of tabResultCalculEmprunts){ %>
                    <tr>
                        <td> <%= emprunt.capital %> </td>
                            <td> <%= emprunt.taux %> </td>
                            <td> <%= emprunt.duree %> </td>
                            <td> <%= emprunt.mensualite %> </td>
                    </tr>
                    <% } %>
            </tbody>
        <% } %>
    <% } %>
    </table>

</main>

<%- include('layout/fin.ejs') %>